body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 30px; /* Espacio entre las fotos */
    max-width: 1200px; /* Ajusta el ancho máximo según el tamaño de las fotos */
    width: 100%;
    padding: 20px; /* Espacio alrededor del contenedor */
}

.box {
    width: 100%;
    height: 200px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#passwordInput {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: none;
    border-radius: 5px;
}

.phrase-top {
    position: absolute;
    top: 45px; /* Distancia desde la parte superior de la pantalla */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 70px; /* Tamaño de letra grande */
    color: white; /* Color blanco */
    font-family: 'Sitka Small', sans-serif; /* Fuente Roboto o la que prefieras */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para hacer el texto más visible */
    z-index: 10; /* Asegúrate de que la frase esté encima de las imágenes */
}

.phrase-bottom {
    position: absolute;
    bottom: 45px; /* Distancia desde la parte inferior de la pantalla */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 50px; /* Tamaño de letra más grande */
    color: white; /* Color blanco */
    font-family: 'Showcard Gothic', sans-serif; /* Fuente diferente */
    font-weight: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para hacer el texto más visible */
    z-index: 10; /* Asegúrate de que la frase esté encima de las imágenes */
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 20px; /* Añadir padding si es necesario para ajustar el diseño */
}

video {
    max-width: 180%; /* Ajusta el ancho máximo del video */
    max-height: 180vh; /* Ajusta la altura máxima del video */
    width: 80%; /* Ancho del video, puede cambiarse a un valor fijo si prefieres */
    height: auto; /* Mantiene la relación de aspecto del video */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}